[Unit]
Description=oneshot timer

[Timer]
OnCalendar=*-*-* *:*:00
Unit=oneshot-service.service

# restrict the accuracy to 1 sec, this would make cpu wake more frequently
# default is 1min, minimum is 1us
AccuracySec=1

[Install]
WantedBy=multi-user.target
