[Unit]
Description=status email for %i to user

[Service]
Type=oneshot
ExecStart=/usr/local/bin/systemd-email.sh efficacy38@localhost %i
User=nobody
Group=systemd-journal
