[Unit]
Description=Simple Service

[Service]
Type=oneshot

# remain it's staus
RemainAfterExit=yes

ExecStart=/usr/local/bin/prompt.sh simple "remain step 1 oneshot"
ExecStart=/usr/local/bin/prompt.sh simple "remain step 2 oneshot"
ExecStart=/usr/local/bin/prompt.sh simple "remain step 3 oneshot"
ExecStart=/usr/local/bin/prompt.sh simple "remain step 4 oneshot"

[Install]
WantedBy=multi-user.target
